rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /devs/{devKey} {
    	allow read, write: if true
    }
  }
}