$background-input-base: #fff;
$main-text-color: #fff;
$backgroud-base: #1D1D1D;

#root {
    #header-base {
        @media (max-width: 1000px) {
            flex-direction: column;

            .buttons-container {
                justify-content: center;
            }

            .search-container {
                margin: 1rem auto 0;
            }

            .add-dev-container {
                justify-content: center;
            }      
        }
    }
}

#header-base {
    .search-container {
        position: relative;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: 70%;

        margin-left: auto;

        .search-icon {
            position: absolute;
            left: 0.6rem;
        }

        input {
            color: hsl(0, 0%, 60%);
            font-weight: 600;
            font-size: 20px;

            outline: none;

            height: 100%;
            width: 100%;

            padding: 0 0.6rem 0 2.5rem;
            border: 0;

            border-radius: 10px;

            background: $background-input-base;

            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

            &::placeholder {
                color: hsl(0, 0%, 60%);
            }
        }
    }

    .buttons-container {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        grid-column-start: 1;
        grid-column-end: 4;

        margin-top: 1rem;

        .button {
            font-size: 14px;

            color: $main-text-color;
        }
    }     
}

.cards-container {
    display: flex;
    align-items: center;

    flex-grow: 1;

    width: 100%;
}



.cards-container {
    align-items: center;
    justify-content: center;

    .swiper {
        width: 90%;

        margin: 0 auto;
    }

    .swiper-slide {
        width: 300px;
    }    

    #slide-prev, #slide-next {
        height: 70px;
        width: 70px;
        
        &::after {
            position: absolute;
            top: 2.8rem;

            color: hsla(0, 0%, 98%, 0.5);
        }
    }

    #slide-prev {
        &::after {
            left: 21px;
        }
    }

    #slide-next {
        &::after {
            right: 21px;
        }
    }

    .swiper-button {
        button {
            height: 60px;
            width: 60px;

            transform: translateY(2rem);

            border: 3px solid hsla(0, 0%, 98%, 0.5);
            border-radius: 50%;

            background-color: transparent;

            transition: filter 0.2s;

            -webkit-tap-highlight-color: transparent;
    
            &:hover {
                cursor: pointer;
        
                filter: brightness(0.93);
            }
        }
    }
}
